<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809347044771-9p59seqrmv03qu6j9k56hrskuvnrf97f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809347044771-9p59seqrmv03qu6j9k56hrskuvnrf97f</string>
	<key>API_KEY</key>
	<string>AIzaSyCa1828BnfF8Yh4hFByz540S7YV84R0wnc</string>
	<key>GCM_SENDER_ID</key>
	<string>809347044771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GiulianoAccorsi.Login---FireBase</string>
	<key>PROJECT_ID</key>
	<string>digitalhouse-9d9ad</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalhouse-9d9ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809347044771:ios:231daa13ee4256b6</string>
	<key>DATABASE_URL</key>
	<string>https://digitalhouse-9d9ad.firebaseio.com</string>
</dict>
</plist>